Here, I will make random predictions for the Tabular Playground Challenge on Kaggle

In [1]:
import pandas as pd
from numpy import random

In [2]:
sample_submission=pd.read_csv('sample_submission.csv')
sample_submission.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2011-01-01 00:00:00,2.0,10.0,300.0
1,2011-01-01 01:00:00,2.0,10.0,300.0
2,2011-01-01 02:00:00,2.0,10.0,300.0
3,2011-01-01 03:00:00,2.0,10.0,300.0
4,2011-01-01 04:00:00,2.0,10.0,300.0

In [3]:
train=pd.read_csv('train.csv')
train.describe()

,deg_C,relative_humidity,absolute_humidity,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
count,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000
mean,20.878034,47.561004,1.110309,1091.572100,938.064970,883.903305,1513.238349,998.335565,2.086219,10.237083,204.066784
std,7.937917,17.398731,0.398950,218.537554,281.978988,310.456355,350.180310,381.537695,1.447109,7.694426,193.927723
min,1.300000,8.900000,0.198800,620.300000,364.000000,310.600000,552.900000,242.700000,0.100000,0.100000,1.900000
25%,14.900000,33.700000,0.855900,930.250000,734.900000,681.050000,1320.350000,722.850000,1.000000,4.500000,76.450000
50%,20.700000,47.300000,1.083500,1060.500000,914.200000,827.800000,1513.100000,928.700000,1.700000,8.500000,141.000000
75%,25.800000,60.800000,1.404150,1215.800000,1124.100000,1008.850000,1720.400000,1224.700000,2.800000,14.200000,260.000000
max,46.100000,90.800000,2.231000,2088.300000,2302.600000,2567.400000,2913.800000,2594.600000,12.500000,63.700000,1472.300000

In [4]:
random_predictions_dict={}
for i in sample_submission.columns:
    if i == 'date_time':
        random_predictions_dict[i]=[x for x in sample_submission['date_time']]
    
    elif i == 'target_carbon_monoxide': #I will generate random values between min('target_carbon_monoxide')
                                        #and max('target_carbon_monoxide')
        random_predictions_dict[i]=[random.uniform(0.100000, 12.500000) for x in range(len(sample_submission))]
        
    elif i == 'target_benzene':
        
        random_predictions_dict[i]=[random.uniform(0.100000, 63.700000) for x in range(len(sample_submission))]
    
    else:
        
        random_predictions_dict[i]=[random.uniform(1.900000, 1472.300000) for x in range(len(sample_submission))]

random_predictions=pd.DataFrame(random_predictions_dict)
random_predictions.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2011-01-01 00:00:00,6.377688,5.411455,503.503800
1,2011-01-01 01:00:00,10.140771,29.785070,1230.049104
2,2011-01-01 02:00:00,0.729542,49.045147,287.187608
3,2011-01-01 03:00:00,0.277940,4.644371,848.826385
4,2011-01-01 04:00:00,8.797967,44.533494,220.170188

In [5]:
random_predictions.to_csv('random_sample_submission.csv', index=False)

### I want to approximate the score that I will get on kaggle

In [6]:
train.columns

Index(['date_time', 'deg_C', 'relative_humidity', 'absolute_humidity',
       'sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_5',
       'target_carbon_monoxide', 'target_benzene', 'target_nitrogen_oxides'],
      dtype='object')

In [7]:
train=train[['date_time', 'target_carbon_monoxide', 'target_benzene', 'target_nitrogen_oxides']]
train.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2010-03-10 18:00:00,2.5,12.0,167.7
1,2010-03-10 19:00:00,2.1,9.9,98.9
2,2010-03-10 20:00:00,2.2,9.2,127.1
3,2010-03-10 21:00:00,2.2,9.7,177.2
4,2010-03-10 22:00:00,1.5,6.4,121.8

In [8]:
train.describe()

       target_carbon_monoxide  target_benzene  target_nitrogen_oxides
count             7111.000000     7111.000000             7111.000000
mean                 2.086219       10.237083              204.066784
std                  1.447109        7.694426              193.927723
min                  0.100000        0.100000                1.900000
25%                  1.000000        4.500000               76.450000
50%                  1.700000        8.500000              141.000000
75%                  2.800000       14.200000              260.000000
max                 12.500000       63.700000             1472.300000

In [9]:
random_predictions_dict={}
for i in train.columns:
    if i == 'date_time':
        random_predictions_dict[i]=[x for x in train['date_time']]
    
    elif i == 'target_carbon_monoxide': #I will generate random values between min('target_carbon_monoxide')
                                        #and max('target_carbon_monoxide')
        random_predictions_dict[i]=[random.uniform(0.100000, 12.500000) for x in range(len(train))]
        
    elif i == 'target_benzene':
        
        random_predictions_dict[i]=[random.uniform(0.100000, 63.700000) for x in range(len(train))]
    
    else:
        
        random_predictions_dict[i]=[random.uniform(1.900000, 1472.300000) for x in range(len(train))]

random_predictions=pd.DataFrame(random_predictions_dict)
random_predictions.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2010-03-10 18:00:00,9.929762,39.824296,1274.239329
1,2010-03-10 19:00:00,10.904555,32.398499,537.180754
2,2010-03-10 20:00:00,3.245824,3.019540,610.944680
3,2010-03-10 21:00:00,0.599031,25.803998,830.882838
4,2010-03-10 22:00:00,5.153047,20.165541,76.330446

In [10]:
from sklearn.metrics import mean_squared_log_error
import math

In [11]:
RMSLE_CM=math.sqrt(mean_squared_log_error(train['target_carbon_monoxide'], random_predictions['target_carbon_monoxide']))
RMSLE_BZ=math.sqrt(mean_squared_log_error(train['target_benzene'], random_predictions['target_benzene']))
RMSLE_NO=math.sqrt(mean_squared_log_error(train['target_nitrogen_oxides'], random_predictions['target_nitrogen_oxides']))

average_RMSLE=(RMSLE_CM+RMSLE_BZ+RMSLE_NO)/3    #The final score on Kaggle is the mean of the RMSLE over all columns, 
                                                #in this case, 3.

In [12]:
print('The final score should be approximately {}'.format(average_RMSLE))

The final score should be approximately 1.5139587533741483

The actual score was 1.46098